<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>
  {{ style('style') }}
</head>
<body>
  <section>
    <h1 class="head">Welcome {{ name}}</h1>
	<h2>Verify your Otp for resetting password</h2>
  <h2>Here is your {{ OTP }}</h2>
	<button class="btn">
  <a href={{link}}>Forget Password</a></button>
  </section>
</body>
</html>
